<div class="outer-layer">
  <div class="login-page ">
<div class="container login-container">
  <div class="row margin-top-10p">
    <div class="col-lg-4"></div>
    <div class="col-lg-4  height-60 bg-light-red card card-1" >
      <div class="row">
        <img src="https://www.inspirisys.com/images/inspirisys-logonew.png" class="logo-img" style="width:150px;margin:10% 0 0 5%;">
      </div>
      <div class="row text-row">
        <div class="col-lg-12">
            <input type="text" class="form-control login-input"  placeholder="Username">
        </div>
      </div>
      <div class="row text-row ">
        <div class="col-lg-12">
          <input type="text" class="form-control login-input"  placeholder="Password">
        </div>
      </div>
      <div class="row text-row ">
        <div class="col-lg-12 margin-left-4p" >
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            I accepts the <a href="#"> term & conditions</a>
          </label>
        </div>
      </div>
      </div>

      <div class="row text-row ">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <button  class="button-62" (click)="get_data()"   routerLinkActive="active">Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

