<div class="containter top-header">
  <div class="row">
    <div style="width:50%">
      <img src="https://www.inspirisys.com/images/inspirisys-logonew.png" class="logo-link">

    </div>

    <div style="    width: 45%;
    margin: 1%;
    text-align-last: end;">
      <div class="icon-div">
      <i class="fa fa-calendar"></i>  01-12-1995</div>
      <div class="icon-div"><i class="fa fa-user"></i> Hi,Gandhi</div>
    </div>

  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light nav-bar-red ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DC <span class="sr-only">(current)</span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item color-red" (click)="xx()">GST</a>
          <a class="dropdown-item color-red" href="#">APY</a>
          <a class="dropdown-item color-red" href="#">CBDT</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CBS Integration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NPS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">APY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PPF</a>
      </li> <li class="nav-item">
      <a class="nav-link" href="#">SSA</a>
    </li> <li class="nav-item">
      <a class="nav-link" href="#">SCSS</a>
    </li> <li class="nav-item">
      <a class="nav-link" href="#">GST</a>
    </li> <li class="nav-item">
      <a class="nav-link" href="#">KVP</a>
    </li> <li class="nav-item">
      <a class="nav-link" href="#">Pension</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="#">State Tax</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CBDT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Admin</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container" id="linkList" style="background: #c1c1c1;
    padding: 5%;
    margin-top: 2%;
    color: #d01c23;" *ngIf="this.listOfValues">
  <div class="row">
    <div class="col-lg-12">
      <ul>
        <li class="li-own" *ngFor="let item of this.listOfValues;" ><a routerLink="/test"  (click)="x=item.param;" [queryParams]=
          "{Link:item.param}" >{{item.value}}</a></li>

        </ul>
    </div>
  </div>
</div>

