<div class="containter top-header" >
  <div class="row">
    <div style="width:50%">
      <img src="https://www.inspirisys.com/images/inspirisys-logonew.png" class="logo-link">

    </div>

    <div style="    width: 45%;
    margin: 1%;
    text-align-last: end;">
      <div class="icon-div">
        <i class="fa fa-calendar"></i>  01-12-1995</div>
      <div class="icon-div"><i class="fa fa-user"></i> Hi,Gandhi</div>
    </div>

  </div>
</div>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light nav-own" >-->
<!--<img src="https://www.inspirisys.com/images/inspirisys-logonew.png" class="logo-link">-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--<div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">-->
<!--      <input class="form-control     height-8" type="search" placeholder="Search" aria-label="Search">-->
<!--</div>-->
<!--    <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12">-->
<!--    <i class="fa fa-calendar"></i>  01-12-1995-->
<!--      </div>-->
<!--    <div class="col-lg-1 col-sm-12 col-md-12 col-xs-12" style="font-size:20px">-->
<!--      <i class="fa fa-user"></i>-->
<!--    </div>-->
<!--  </div>-->

<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-light nav-bar-red ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DC <span class="sr-only">(current)</span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item color-red" href="#">GST</a>
          <a class="dropdown-item color-red" href="#">APY</a>
          <a class="dropdown-item color-red" href="#">CBDT</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CBS Integration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NPS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">APY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PPF</a>
      </li> <li class="nav-item">
      <a class="nav-link" href="#">SSA</a>
    </li> <li class="nav-item">
      <a class="nav-link" href="#">SCSS</a>
    </li> <li class="nav-item">
      <a class="nav-link" href="#">GST</a>
    </li> <li class="nav-item">
      <a class="nav-link" href="#">KVP</a>
    </li> <li class="nav-item">
      <a class="nav-link" href="#">Pension</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="#">State Tax</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CBDT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Admin</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--<div class="container" style="    background: red;-->
<!--    width: 100%;-->

<!--    padding: 5%;">-->

<!--  <div class="row">-->
<!--    <div class="col-lg-4">-->
<!--      <label>vvdf</label>-->
<!--    </div>-->
<!--    <div class="col-lg-4">-->
<!--      <input class="form-control">-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<div class="container"  style="margin-left:10%;margin-top:3%;padding:3%;width:50%;display: flex;" >
<form *ngIf="filterForm" [formGroup]="filterForm" class="filter-form" >
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: filterFields,formGroup:filterForm }">
  </ng-container>
  <button type="button" class="btn btn-primary" routerLink="/linkPage"> cancel</button>
<!--  <button style="padding:5px;text-align:center" routerLink="/linkPage"> cancel</button>-->
</form>


<ng-template #recursiveList let-filterFields let-formGroup="formGroup" style="padding-left: 0%;
    padding-top: 4%;display:none!important;">
  <div class="form-group" style="background: #ccc;width: 500px;padding: 6%;">
    <ng-container *ngFor="let item of filterFields">
      <p>{{item.title}}</p>
      <ng-container *ngIf="item.group; else default;">
        <div class="row pb-4">
          <div [formGroup]="formGroup.get(item.key)">
            <ng-container
              *ngTemplateOutlet="recursiveList; context:{ $implicit: item.group, formGroup: formGroup.get( item.key)}">
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-template #default>
        <div class="col-md-3">
          <input [type]="item.color" [type]="item.type" [formControl]="formGroup.get(item.key)" [placeholder]="item.name" [name]="item.name" [class]="item.class" (click)="this[item.click]()"  />
        </div>
      </ng-template>
    </ng-container>
  </div>
</ng-template>
  <div class="xx" style="margin-left:50%;background:yellow">
  <pre style="width:20%;display:inline">{{filterForm?.value|json}}</pre>
  </div>
</div>

